/*************************************************************************/
/* This CSS file contains the default styling for BDRS vanilla template. */
/* Themed implementations will use their own theme base.css class.       */
/*                                                                       */
/* Styles that change the aesthetics of the page should be added here,   */
/* such as colors, menu, button styling, etc.                            */
/*************************************************************************/

/*******************************************/
/* Default Page Element Styling            */
/*******************************************/
body {
    background-color: ${style.body.background.color};
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: ${style.content.font.size};
    font-family: ${style.content.font};
    line-height: ${style.content.line-height};
    color: ${style.content.text.color};
}

.wrapper {
    width: ${style.content.width};
}

/************************************/
/* Font styling for text inputs     */
/************************************/

/* this needs to be defined separately or we don't properly override the
 * yui resets due to css specificity
 */
input, select, textarea {
    font-family: ${style.content.font};
}


/* On IE9 on the it appears the text and password
 * input types are of different heights if left to
 * the defaults.
 */
input[type=text],input[type=password] {
	height: 14px;
}

/***********************************************/
/* Button Styling                              */
/* restyle jquery buttons - class is ui-button */
/***********************************************/

input[type=submit],input[type=button],
button[type=button].ui-button {
    color: ${style.form.button.color};
    font-weight: bold;
    margin: 0px 8px 0px 8px;
    padding: 4px 16px 4px 16px;
    font-size: 1em;
    cursor: pointer;
	/* fixes long buttons in IE7 */
    overflow: visible;
    
    /* Rounded Border */
    border: 1px solid ${style.form.button.border.color};
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.ui-button .ui-button-text { 
    display: block; 
	line-height: normal;
	font-size: 12px;
	height: auto;
	padding: 0;
	margin: 0;
}

input[type=submit][disabled].form_action,
input[type=button][disabled].form_action,
input[type=submit][disabled].form_action:active,
input[type=button][disabled].form_action:active,
input[type=submit][disabled].form_action:hover,
input[type=button][disabled].form_action:hover {
    background-image: none;
    background-color: ${style.form.button.disabled.background.color};
    border: 1px solid ${style.form.button.disabled.border.color};
    cursor: default;
}

/* Form Actions */
input[type=submit].form_action,input[type=button].form_action,
button[type=button].ui-button {
    /* Fallback */
    background-color: ${style.form.button.gradient.color.top};
    
	/* Background svg for IE9 */
	background: ${style.form.button.gradient.color.top} url(${asset}/css/buttonGradient.svg) 0 0 no-repeat;

    /* Color Gradient */
    background: -moz-linear-gradient(top, ${style.form.button.gradient.color.top}, ${style.form.button.gradient.color.bottom});
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, ${style.form.button.gradient.color.top}),
        color-stop(1, ${style.form.button.gradient.color.bottom}) );
	background: linear-gradient(top, ${style.form.button.gradient.color.top}, ${style.form.button.gradient.color.bottom});
		
    /* Drop Shadow */
    box-shadow: 0px 0px 2px ${style.form.button.shadow.color};
    -moz-box-shadow: 0px 0px 2px ${style.form.button.shadow.color};
    -webkit-box-shadow: 0px 0px 2px ${style.form.button.shadow.color};
}

input[type=submit].form_action:hover,input[type=button].form_action:hover,
button[type=button].ui-button:hover { 
    /* Fallback */
    background-color: ${style.form.button.hover.gradient.color.top};
    
	/* Background svg for IE9 */
	background: ${style.form.button.hover.gradient.color.top} url(${asset}/css/buttonGradientHover.svg) 0 0 no-repeat;

    background: -moz-linear-gradient(top, ${style.form.button.hover.gradient.color.top}, ${style.form.button.hover.gradient.color.bottom});
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, ${style.form.button.hover.gradient.color.top}),
        color-stop(1, ${style.form.button.hover.gradient.color.bottom}) );
}

input[type=submit].form_action:active,
input[type=button].form_action:active,
input[type=submit].form_action:focus,
input[type=button].form_action:focus,
button[type=button].ui-button:active,
button[type=button].ui-button:focus {
    background-image: none;
    background-color: ${style.form.button.gradient.color.bottom};
}

.input_container,.input_container_2 {
    padding: 16px 16px 16px 16px;
    /* Rounded Border */
    border: ${style.content.container.border.width} ${style.content.container.border.style} ${style.content.container.border.color};
    -webkit-border-radius: ${style.content.container.border.radius};
    -khtml-border-radius: ${style.content.container.border.radius};
    -moz-border-radius: ${style.content.container.border.radius};
    border-radius: ${style.content.container.border.radius};
}

.input_container { 
    background-color: ${style.content.container.background.color};
    color: ${style.content.container.text.color};
}

.input_container table a {
    color: ${style.anchor.link.color};
}

/****************************************/
/*  Input Styling for non button inputs */
/****************************************/

input[type=text][readonly], 
input[type=password][readonly], 
textarea[readonly],
input[type=text][disabled], 
input[type=password][disabled], 
textarea[disabled] {
    background-color: ${style.input.disabled.color};
}

input[type=text], input[type=password], textarea {
    /* Rounded Border */
    border: ${style.input.text.border.width} ${style.input.text.border.style} ${style.input.text.border.color};
    -webkit-border-radius: ${style.input.text.border.radius};
    -khtml-border-radius: ${style.input.text.border.radius};
    -moz-border-radius: ${style.input.text.border.radius};
    border-radius: ${style.input.text.border.radius};
}

select[multiple] {
    background-color: #FFF;
}

/************************************/
/* Menu Styling                     */
/************************************/

#horiz-menu {
    background-color: ${style.menu.background.color};
    height: ${style.menu.height};
	
	/* This puts the entire menu div in front of the map div for IE7 */
    position:relative;
	/* open layers map tool bar has z-index 1014 */
    z-index:1030;
}

#horiz-menu a:link,
#horiz-menu a:visited {
    height: ${style.menu.height};
    line-height: ${style.menu.height};
    font-weight: bold;
    text-decoration: none;
}

/* Level 1 Menus */
#horiz-menu li {
    border-right: ${style.menu.border.width} ${style.menu.border.style} ${style.menu.border.color};
}

/* Level 1 Menu Text Color */
#horiz-menu a:link,
#horiz-menu a:visited,
#horiz-menu li.active li a:link,
#horiz-menu li.active li a:visited {
    color: ${style.menu.text.color};
}

/* Level 1 Selected Menu Text Color */
#horiz-menu .active_menu a:link,
#horiz-menu .active_menu a:visited,
#horiz-menu li.active a:link,
#horiz-menu li.active a:visited,
#horiz-menu li.active li.active a:link,
#horiz-menu li.active li.active a:visited {
    color: ${style.menu.selected.text.color};
}

/* Menu Transitions */
ul.menu ul li a {
    background: url(${asset}images/bdrs/arrow1.png) 10px 3px no-repeat;
}

ul.menu ul li a{
    font-size:11px;
}

ul.menu ul ul li a {
    background: transparent url(${asset}images/bdrs/arrow2.png) 10px 3px no-repeat;
    font-size:11px;
}

ul.menu ul ul ul li a {
    background: transparent url(${asset}images/bdrs/arrow2.png) 25px 3px no-repeat;
    font-size:11px;
}

ul.menu ul ul ul ul li a{
    background: transparent url(${asset}images/bdrs/arrow2.png) 40px 3px no-repeat;
    font-size:11px;
}

#horiz-menu li.active li a:link,
#horiz-menu li.active li a:visited {
    background: none;
}

#horiz-menu li li a:link,
#horiz-menu li li a:visited{
    background: none;
    font-weight: bold;
    font-size: 100%;
}

#horiz-menu li li {
    background: none;
    width: ${style.menu.width};
}

#horiz-menu ul ul a:link,
#horiz-menu ul ul a:visited {
    display: block;
    text-decoration: none;
    width: ${style.menu.width};
    text-transform: none;
    background: none;
}

#horiz-menu ul ul {
    border-left: 0px;
}

#horiz-menu li ul {
    height: auto;
    width: ${style.menu.width};
    font-weight: normal;
    border-width: 0;
}

/* margin for pullouts */
#horiz-menu li ul ul {
    margin: -30px 0 0 ${style.menu.width};
}

/* Level 1 Menus */
#horiz-menu a:hover,
#horiz-menu.suckerfish li:hover,
#horiz-menu.suckerfish li.sfhover {
    background: ${style.menu.hover.background.color};
    color: ${style.menu.hover.text.color};
}

/* Level 2 Menus */
#horiz-menu.suckerfish li li:hover,
#horiz-menu.suckerfish li li.sfhover {
    background-color: ${style.menu.hover.background.color};
}

#horiz-menu.suckerfish li li a:link,
#horiz-menu.suckerfish li li a:visited {
    color: #FFFFFF;
    border-top: ${style.menu.border.width} ${style.menu.border.style} ${style.menu.border.color};
}

#horiz-menu.suckerfish li li {
    background: ${style.menu.background.color};
    border-left: ${style.menu.border.width} ${style.menu.border.style} ${style.menu.border.color};
    border-right: ${style.menu.border.width} ${style.menu.border.style} ${style.menu.border.color};
}

/* Transition to Level 3 Menu */
#horiz-menu li li a.daddy:link,
#horiz-menu li li a.daddy:visited  {
    background: url(${asset}images/bdrs/rightarrow.png) 100% 50% no-repeat;
}

/************************************/
/* Home Page Styling                */
/************************************/
.left_col,
.center_col,
.right_col {
    width: 31.5%;
}

.left_col {
    padding-right: 10px;
    text-align: center;
    float: left;
}

.center_col {
    padding-right: 10px;
    padding-left: 10px;
    float: left;
}

.right_col {
    padding-left: 10px;
    float: right;
}

.nopad_top {
	padding-top: 0px;
	margin-top: 0px;
}

.left_align {
	text-align: left;
}

.boldtext {
	font-weight: bold;
}
	
#survey_carousel {
    height: 275px;
}

#survey_carousel .cj_slideshow_caption_wrapper,
#survey_carousel .cj_slideshow_caption {
	background-color: transparent;
	color: #333333;
	display: block;
	clear: both;
	float: left;
	font-weight: normal;
	/*margin-top: 190px;*/
	padding: 1em;
}
#survey_carousel img {
	display: block;
	clear: both;
}

#statistics h3 {
    padding: 0px;
    margin: 0.5em 0em 0.5em 0em;
}

#statistics table {
    padding: 0px;
    width: auto;
}

#statistics table th,
#statistics table td {
    padding: 0em 0em 0em 0.5em;
}

#statistics table th {
    text-align: right;
    font-weight: normal;
}
#statistics table td {
    text-align: left;
}
/************************************/
/* Header Styling                   */
/************************************/

#header {
    line-height: 0;
    background-color: ${style.header.background.color};
    
	border-top: 1px solid transparent;
    margin-top: 12px;
    margin-bottom: 2px;
    
    -webkit-border-top-right-radius: ${style.header.border.radius};
    -webkit-border-top-left-radius: ${style.header.border.radius};
    -moz-border-radius-topright: ${style.header.border.radius};
    -moz-border-radius-topleft: ${style.header.border.radius};
    border-top-right-radius: ${style.header.border.radius};
    border-top-left-radius: ${style.header.border.radius};
}

#header.root {
    background-color: #650000;
}

#portalName {
	float: left;
    color: ${style.header.text.color};
    font-weight: bold;
    font-size: 200%;
    line-height: 48px;
    margin-top: 0px;
    margin-left: 12px;
}

/* hide the foundation.jsp signout link */
#signOut {
    display:none;
}

#welcomeText {
	line-height: 1.5em;
	float: right;
	text-align:right;
	color: ${style.header.text.color};
	margin-right: 12px;
    margin-top: 6px;
}

#welcomeText a {
	color: ${style.header.text.color};
}

#welcomeText a:hover {
	text-decoration: underline;
}

/************************************/
/* Footer Styling                   */
/************************************/

/************************************/
/* Message Banner                   */
/************************************/
.message {
    text-align: center;
    padding: 8px 4px 8px 4px;
    font-size: 120%;
    font-weight: bold;
    background-color: ${style.messagebanner.background.color};
    border: ${style.messagebanner.border.width} ${style.messagebanner.border.style} ${style.messagebanner.border.color};
    color: ${style.messagebanner.text.color};
}

/*************************************************/
/*     Data Table Styling                        */
/* and styling jqGrid to look like a data table  */
/*************************************************/

/* datatable and jqgrid header */
.datatable th,
table.ui-jqgrid-htable th.ui-state-default.ui-th-column.ui-th-ltr {
    color: ${style.table.header.text.color};
    background: ${style.table.header.background.color};
    font-weight: bold;
    border: ${style.table.header.border.width} ${style.table.header.border.style} ${style.table.header.border.color};
}

.datatable td,
.ui-jqgrid tr.ui-row-ltr td {
   border: ${style.table.border.width} ${style.table.border.style} ${style.table.border.color};
}

tr.ui-widget-content {
    border: ${style.table.border.width} ${style.table.border.style} ${style.table.border.color};
}

.datatable th a,
table.ui-jqgrid-btable th a {
    color: ${style.table.header.text.color};
}

div.ui-jqgrid.ui-corner-all {
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
}

/* jqgrid footer / pager */
div.ui-jqgrid-pager.ui-state-default,
div.ui-state-default.ui-jqgrid-hdiv {
	-moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -khtml-border-radius: 0px;
    border-radius: 0px;
	background: ${style.table.header.background.color};
}

/* hide the close 'x' in the jquery ui dialogs */
/* removing the hidden for now since there are some dialogs
 * with no ok / cancel buttons
 */
a.ui-dialog-titlebar-close.ui-corner-all {
	/*display: none;*/
}

/* no horizontal scrollbar for jqgrid */
.ui-jqgrid .ui-jqgrid-bdiv {
    position: relative; 
    margin: 0em; 
    padding:0; 
    /*overflow: auto;*/ 
    overflow-x:hidden; 
    overflow-y:auto; 
    text-align:left;
}

/* row highlight styling */
.highlight, 
tr.ui-state-highlight.ui-widget-content {
	background: ${style.table.highlight.color};
	border: ${style.table.border.width} ${style.table.border.style} ${style.table.border.color};
}

/************************************************/
/* jquery-ui dialog adjustments to look better  */
/* with bdrs style buttons                      */
/************************************************/
.ui-dialog .ui-dialog-buttonpane {
	padding-top: 7px;
}

/**************************/
/* Dashboard styling      */
/**************************/
.dashboardContainer {
    width: 100%;
    background-color: ${style.content.background.color};
    -webkit-border-bottom-right-radius: ${style.content.border.radius};
    -webkit-border-bottom-left-radius: ${style.content.border.radius};
    -moz-border-radius-bottomright: ${style.content.border.radius};
    -moz-border-radius-bottomleft: ${style.content.border.radius};
    border-bottom-right-radius: ${style.content.border.radius};
    border-bottom-left-radius: ${style.content.border.radius};
}

.dashboardFooter {
    clear: both;
}

.dashboard {
    width: 0px;
    float: left;
    background-color: ${style.dashboard.background.color};
}

.contentwrapper {
    background-color: ${style.content.background.color};
    background-repeat: repeat;
    padding: 20px;
    min-height: 400px;
    
    -webkit-border-bottom-right-radius: ${style.content.border.radius};
	-webkit-border-bottom-left-radius: ${style.content.border.radius};
	-moz-border-radius-bottomright: ${style.content.border.radius};
	-moz-border-radius-bottomleft: ${style.content.border.radius};
	border-bottom-right-radius: ${style.content.border.radius};
	border-bottom-left-radius: ${style.content.border.radius};
}

.pageContent {
    color: ${style.content.text.color};
    font-size: ${style.content.font.size};
    line-height: 135%;
    padding-left: 10px;
    padding-right: 10px;
}

/************************************/
/*  Anchor Styling                  */
/************************************/
a:link {
    color:${style.anchor.link.color};
    text-decoration: ${style.anchor.link.decoration};
}

a:visited {
    color:${style.anchor.visited.color};
    text-decoration: ${style.anchor.visited.decoration};
}

a:hover {
    color: ${style.anchor.hover.color};
}

a:link.delete {
    color:${style.anchor.delete.link.color};
    text-decoration: ${style.anchor.link.decoration};
}

a:visited.delete {
    color:${style.anchor.delete.visited.color};
    text-decoration: ${style.anchor.visited.decoration};
}

/* links with this style will stay the same even after being visited */
a:link.fixedLink,
a:visited.fixedLink,
a:hover.fixedLink {
	color:${style.anchor.link.color};
    text-decoration: ${style.anchor.link.decoration};
}

/************************************/
/* Signin  Styling                  */
/************************************/
#signin input[type=text],
#signin input[type=password] {
    border: ${style.input.text.signin.border.width} ${style.input.text.signin.border.style} ${style.input.text.signin.border.color};
}