<html>
    <body>
        <p>Hi ${newUser.firstName} ${newUser.lastName}!</p>

        <p>A password reminder was received for your ${portal.getName()} registration.</p>
        <p>Your username is: ${newUser.name}</p>
        <p>Your new password is: ${newpassword}</p>
        
        <p>You can log into ${portal.getName()} here: <a href="${bdrsApplicationUrl}/home.htm">${bdrsApplicationUrl}/home.htm</a></p>

    </body>
</html>
